html {
  font-size: 16px;
  font-family: "Calibri Light", 'Calibri', sans-serif;
}

.header {
  background-color: #000;
  margin: 0;
  padding: .5rem 0 0 0;
}

.header span {
  position: absolute;
  right: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  color: #fff;
  margin: 2rem 5.5rem 0 1.5rem;
  padding: 0;
}

.header h3 {
  color: grey;
  margin: 0 5rem 1rem 1.5rem;
  padding: 0;
}

.main-nav ul {
  background: #B5B5B5;
  margin: 0;
  padding: .75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
  list-style:none;
}

.main-nav a {
  color: purple;
  margin: 0 1rem;
}

.link {
  color:red;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.article {
  margin: 0 1rem;
  min-width: 50%;
}

.aside {
  margin: 1rem 1rem;
  text-align: center;
  border: 1px solid black;
  min-width: 40%;
}

.aside img {
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 80%;
  padding: 0;
}

.aside h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.aside h4 {
  font-size: 1.25rem;
  margin: .02rem 0;
  padding: 0;
}

.sidebar-content {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidebar-content p {
  text-align: left;
  max-width: 50%;
  margin: 0;
  padding: 0;
}

.sidebar-content span{
  position: absolute;
  right: 2rem;
  padding-top: 1rem;
  margin: 0;
  max-width: 40%;
}
.footer {
  background-color: #000;
  margin: 0;
  padding: .5rem 0 .5rem 0;
}

.footer p {
  color: #fff;
  margin: .9rem;
  line-height: .5rem;
}

.footer div {
  display: block;
  text-align: center;
}
